.about-content {
    --background: var(--pickment-color-secondary);
}

.about-grid {
    height: 100%;
}

.about-row {
    height: 100%;
    background: url('../../public/assets/image/pexels-dids-2911521.jpg') no-repeat center fixed;
    background-size: cover;
    background-color: var(--pickment-color-secondary);
    color: white;
}

.about-row-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--pickment-color-secondary), var(--pickment-color-secondary));
}

.about-logo {
    min-width: 75px;
    width: 30%;
    max-width: 100px;
    margin-bottom: 20px;
}