.archive-navbar {
    width: 100%;
    box-shadow: 0 -3px rgba(211, 211, 211, 0.5) inset;
}

.archive-navbar-row {
    min-width: 200px;
    width: 100%;
    max-width: 750px;
}

.archive-navbar-col-active {
    cursor: pointer;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 3px solid var(--pickment-color-secondary);
    background-color: white;
    color: var(--pickment-color-secondary);
    text-align: center;
}

.archive-navbar-col-inactive {
    cursor: pointer;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 3px solid var(--pickment-color-primary);
    background-color: white;
    color: var(--pickment-color-primary);
    text-align: center;
}

.archive-history-incomplete {
    min-width: 200px;
    width: 95%;
    max-width: 500px;
    --border-radius: 2000px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    --background: var(--pickment-color-secondary);
    --color: white;
}

.archive-history-complete {
    min-width: 200px;
    width: 95%;
    max-width: 500px;
    --border-radius: 2000px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    --background: var(--pickment-color-primary);
    --color: white;
}

.archive-history-text {
    white-space: nowrap;
    overflow: hidden;
}

.archive-history-description {
    font-size: small;
}

.archive-history-float-right {
    width: max-content;
    margin-left: auto;
    margin-right: 0;
}

.archive-history-rank {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.archive-history-score {
    width: 60px;
    margin-right: 10px;
}

.archive-achievement-text {
    min-width: 200px;
    width: 100%;
    max-width: 500px;
}

.archive-badge-item {
    min-width: 200px;
    width: 100%;
    max-width: 500px;
}

.archive-badge-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.archive-badge-image {
    width: 60px;
    border-radius: 2000px;
}

.archive-badge-stars {
    width: max-content;
    margin-top: 10px;
}

.archive-badge-bronze {
    color: #804a00;
}

.archive-badge-silver {
    margin-left: 3px;
    color: #848482;
}

.archive-badge-gold {
    margin-left: 3px;
    color: #d5b56e;
}