.home-content {
    --background: var(--pickment-color-secondary);
}

.home-grid {
    height: 100%;
}

.home-row {
    height: 100%;
    background: url('../../public/assets/image/Background.gif') no-repeat center fixed;
    background-size: cover;
    background-color: var(--pickment-color-secondary);
    color: white;
}

.home-row-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--pickment-color-secondary), var(--pickment-color-secondary));
}

.home-logo {
    min-width: 75px;
    width: 30%;
    max-width: 100px;
    margin-bottom: 20px;
}

.home-play-button-text {
    margin-top: auto;
    margin-bottom: auto;
}

.home-play-button-arrow {
    width: 30px;
    margin: 15px;
}

.home-button-icon {
    position: absolute;
    left: 0px;
}