.illustration-grid {
    height: 100%;
    background: linear-gradient(#C9DBE5, #E3EDF2);
}

.illustration-row-top {
    position: relative;
    height: calc(100% - 120px);
}

.illustration-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes appear { 
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.illustration-item-appear {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: appear 3s;
}

.illustration-row-bottom {
    height: 120px;
    background-color: transparent !important;
}