.settings-form-row {
    min-width: 300px;
    width: 100%;
    max-width: 500px;
}

.settings-form-item {
    width: 100%;
    --background-hover-opacity: 0;
}

.settings-buttons-row {
    width: max-content;
}