.upload-form-row {
    min-width: 300px;
    width: 100%;
    max-width: 500px;
}

.upload-form-item {
    width: 100%;
    --background-hover-opacity: 0;
}

.upload-form-warning-text {
    min-height: 70px;
    color: red;
}

.upload-buttons-row {
    width: max-content;
}