.welcome-grid {
    height: 100%;
}

.welcome-row-top {
    height: 70%;
    background: url('../../public/assets/image/pexels-dids-2911521.jpg') no-repeat center fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #07407575;
    background-color: var(--pickment-color-secondary);
    color: white;
}

.welcome-logo {
    min-width: 75px;
    width: 30%;
    max-width: 100px;
}

.welcome-text {
    min-width: 200px;
    width: 80%;
    max-width: 500px;
}

.welcome-row-bottom {
    height: 30%;
}